@model Project22.Models.Token

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Token</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Session" asp-action="Details" asp-route-id="@Model.Session.Id">Back to List</a>
</div>
